# WhatsApp API
WHAPI_TOKEN=your_whapi_token_here
WHAPI_CHANNEL=default

# Backend / Origin
BACKEND_API_URL=https://your-backend-api-url
ORIGIN_URL=https://your-origin-url
LANGUAGE_SERVICE_URL=https://your-language-service-url
# Server
PORT=3000
NODE_ENV=development

# Mohini WebSocket / Bot Config
MOHINI_WS_URL=wss://your-mohini-ws-url/ws/common/
MOHINI_COMPANY=your_company_name
MOHINI_CAPTURE_BOT_ROUTE=/your_capture_bot_route
MOHINI_PROJECT_BOT_ROUTE=/your_project_bot_route



# MongoDB
MONGODB_URL=mongodb://localhost:27017/your-db-name